@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
}
  
.container-main{
    background-image: url(/img/abstract-memphis-vector-cute-blue-yellow-background-wallpaper-free-vector_552255-396.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;

}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
#logo{
    width: 160px;
    margin-bottom: -13px;
    cursor: pointer;
}
#icon{
    width: 40px;
    cursor: pointer;
}
nav{
      flex: 1;
      padding-left: 50px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 40px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.content h1{
font-size: 60px;
font-weight: 100;
margin-bottom: 15px;
color: #564b75;
}
.content p{
    font-size: 20px;
    color:black;
}
.content{
    margin-left: 2%;
    margin-top: 5%;
}
.btn{
    color: white;
    display: inline-block;
    background: linear-gradient(45deg,#87adfe,#ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 3px 8px 2px rgba(94, 28, 68, 0.15);
}
.btn:hover{
background: pink;
color: rgb(17, 16, 16);
border: 5px solid black;
border-radius: 15px;
font-size: 20px;
}
.arrow-icons{
    margin-top: 40px;
    display: flex;
    margin-left: 100px;
}
.arrow-icons img{
    width: 40px;
    margin-right: 45px;
}#avatar{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: -20px;
    top: 100px;
}